{% extends 'base.html' %}
{% block content %}
<h2>Detalles del Usuario</h2>
        <div class="campo">
            <span>Nombre:</span> {{ usuario.nombre }}
        </div>
        <div class="campo">
            <span>Edad:</span> {{ usuario.edad }}
        </div>
        <div class="campo">
            <span>Email:</span> {{ usuario.email }}
        </div>
        <div class="campo">
            <span>Teléfono:</span> {{ usuario.telefono }}


<a href="{% url 'editar_usuario' id=usuario.id %}" class="back-link">Editar</a>
<a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
{% endblock %}